werkzeug == 0.10.1
psycopg2 ==2.6.1
wtforms == 2.1
Flask == 0.11
Flask-Admin == 1.2.0
Flask-Babel == 0.9
Flask-SQLAlchemy == 2.0
flask-script == 2.0.5
Flask-Testing == 0.4.2
Flask-WTF == 0.13
SQLAlchemy == 1.0.13
blinker == 1.4
flask-debugtoolbar == 0.10.0
Flask-Login == 0.2.11
Flask-Mail == 0.9.1
Jinja2 == 2.8
Flask-Bcrypt == 0.7.1
